{{>layouts\header}}
<div class="container">
    <form action="/members/del" method ="post">
        <div class="form-group">
            <input type="text" id="name" name="name" placeholder="ID를 입력해주세요">
        </div>
        <button type="submit">삭제</button>
    </form>

</div>
{{>layouts\footer}}